@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    background: #111;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background: #e16;
    /* border: 1px solid #000; */
    /* clip-path: circle(2000px at center center); */
}
.container {
    position: relative;
    margin-top: 200vh;
    padding: 100px;
    background: #111111;
}
.container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
}
.container p {
    color: #ffffff;
}
.banner video {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}